@section css {
    <link rel="stylesheet" href="~/assets/css/blog-details/blog-detai.css">
}

<main>
    <section id="blog-title-area">
        <div class="page-title-size section" style="margin-bottom: 4pc; background-image: url(assets/img/blog/page-title.webp);">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="page-title">
                            <h1 class="title">Blog details</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                                <li class="breadcrumb-item active">Blog details</li>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="blog-area">
        <div class="blog-size section-padding">
            <div class="container">
                <div class="row learts-mb-n50">

                    <div class="col-xl-9 col-lg-8 col-12 order-lg-2 learts-mb-50">
                        <div class="single-blog">
                            <div class="image">
                                <a href="blog-details.html">
                                    <img src="assets/img/blog-details/blog-1.webp"
                                         alt="Blog Image">
                                </a>
                            </div>
                            <div class="content">
                                <h2 class="title">Start Online Blog</h2>
                                <ul class="meta">
                                    <li><i class="fa-solid fa-list"></i> <a href="#">Category</a></li>
                                    <li><i class="far fa-calendar"></i><a href="#">January 22, 2020</a></li>
                                </ul>
                                <div class="desc">
                                    <p>
                                        It was designer Steven Miller—no slouch in the taste department—who first
                                        showed
                                        me the work of Jenny Hacker, a San Francisco-based textile artist. It was a
                                        blanket—black on black—with two different textiles fused together, one side
                                        organic cotton and the other, felted wool.
                                    </p>
                                    <p>
                                        Doing a little background research for the interview was no mean feat. At a
                                        time
                                        when so many tread the same art-meets-craft sales circuits and tend their
                                        Instagram feeds with greater passion than their craft, this woman was
                                        mysterious. A minimalist website was all there was. Even better. A trip out
                                        to
                                        the deliciously un-hip Excelsior District in San Francisco was a good start.
                                    </p>
                                    <p>
                                        So was poking around the garage-turned-workshop: a vat of something brewing
                                        in
                                        the corner, a few bottles holding another experiment (homemade dyes from
                                        flowers
                                        in the yard), tatami mats on the floor, vintage Knoll chairs, a drool-worthy
                                        assortment of books on fashion, Japanese anime figurines… Oh, and an old
                                        letterpress nestled beneath a work table.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="related-blog">
                            <div class="block-title pb-0 border-bottom-0">
                                <h2 class="title">Related Blog</h2>
                            </div>
                            <div class="row learts-mb-n40">
                                <div class="col-md-6 col-12 learts-mb-40">
                                    <div class="blog">
                                        <div class="image">
                                            <a href="blog-details.html">
                                                <img src="assets/img/blog-details/blog-2.webp" alt="Blog Image">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <ul class="meta">
                                                <li>
                                                    <i class="far fa-calendar"></i><a href="#">January 22, 2020</a>
                                                </li>
                                            </ul>
                                            <h5 class="title mb-0">
                                                <a href="blog-details.html">
                                                    Tile Tray with Brass
                                                    Handles
                                                </a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 learts-mb-40">
                                    <div class="blog">
                                        <div class="image">
                                            <a href="blog-details.html">
                                                <img src="assets/img/blog-details/blog-3.webp" alt="Blog Image">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <ul class="meta">
                                                <li>
                                                    <i class="far fa-calendar"></i><a href="#">January 22, 2020</a>
                                                </li>
                                            </ul>
                                            <h5 class="title mb-0">
                                                <a href="blog-details.html">
                                                    Dining Table Chairs
                                                    Makeover
                                                </a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="    ">
                            <div class="block-title pb-0 border-bottom-0">
                                <h2 class="title">Comments <span class="text-muted">(4)</span></h2>
                            </div>
                            <ul class="comment-list">
                                <li>
                                    <div class="comment">
                                        <div class="thumbnail">
                                            <img src="assets/img/blog-details/comment-2.webp" alt="">
                                        </div>
                                        <div class="content">
                                            <h4 class="name">Scott James</h4>
                                            <p>
                                                Thanks for always keeping your WordPress themes up to date. Your
                                                level of
                                                support and dedication is second to none.
                                            </p>
                                            <div class="actions">
                                                <span class="date">April 22, 2020 at 2:10 am</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="comment">
                                        <div class="thumbnail">
                                            <img src="assets/img/blog-details/comment-4.webp" alt="">
                                        </div>
                                        <div class="content">
                                            <h4 class="name">Gerhard</h4>
                                            <p>
                                                Thanks for always keeping your WordPress themes up to date. Your
                                                level of
                                                support and dedication is second to none.
                                            </p>
                                            <div class="actions">
                                                <span class="date">April 22, 2020 at 2:10 am</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="comment">
                                        <div class="thumbnail">
                                            <img src="assets/img/blog-details/comment-1.webp" alt="">
                                        </div>
                                        <div class="content">
                                            <h4 class="name">Owen Christ</h4>
                                            <p>Thank you very much!</p>
                                            <div class="actions">
                                                <span class="date">April 22, 2020 at 2:10 am</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="block-title pb-0 border-bottom-0">
                                <h2 class="title">Leave your thought here</h2>
                            </div>
                            <div class="comment-form">
                                <form action="#">
                                    <div class="row learts-mb-n20">
                                        <div class="col-md-6 col-12 learts-mb-20">
                                            <input type="text" placeholder="Your name (*)">
                                        </div>
                                        <div class="col-md-6 col-12 learts-mb-20">
                                            <input type="text" placeholder="Mail (*)">
                                        </div>
                                        <div class="col-12 learts-mb-20">
                                            <textarea placeholder="Message"></textarea>
                                        </div>
                                        <div class="col-12 text-center learts-mb-20 learts-mt-20">
                                            <button class="btn btn-dark btn-outline-hover-dark">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-12 order-lg-1 learts-mb-10">

                        <div class="single-widget learts-mb-40">
                            <h3 class="widget-title product-filter-widget-title">Recent Post</h3>
                            <ul class="widget-blogs">
                                <li class="widget-blog">
                                    <div class="thumbnail">
                                        <a href="blog-details.html">
                                            <img src="assets/img/blog-details/widget-1.webp"
                                                 alt="Widget Blog Post">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">
                                            <a href="blog-details.html">Start Online Blog</a>
                                        </h6>
                                        <span class="date">January 22, 2020</span>
                                    </div>
                                </li>
                                <li class="widget-blog">
                                    <div class="thumbnail">
                                        <a href="blog-details.html">
                                            <img src="assets/img/blog-details/widget-2.webp"
                                                 alt="Widget Blog Post">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">
                                            <a href="blog-details.html">
                                                Tile Tray with Brass
                                                Handles
                                            </a>
                                        </h6>
                                        <span class="date">January 22, 2020</span>
                                    </div>
                                </li>
                                <li class="widget-blog">
                                    <div class="thumbnail">
                                        <a href="blog-details.html">
                                            <img src="assets/img/blog-details/widget-3.webp"
                                                 alt="Widget Blog Post">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">
                                            <a href="blog-details.html">
                                                Dining Table Chairs
                                                Makeover
                                            </a>
                                        </h6>
                                        <span class="date">January 22, 2020</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="single-widget learts-mb-40">
                            <div class="widget-banner">
                                <img src="assets/img/blog-details/widget-banner.webp" alt="">
                            </div>
                        </div>

                        <div class="single-widget learts-mb-40">
                            <h3 class="widget-title product-filter-widget-title">Categories</h3>
                            <ul class="widget-list">
                                <li><a href="#">Gift ideas</a> <span class="count">11</span></li>
                                <li><a href="#">Feature</a> <span class="count">2</span></li>
                                <li><a href="#">Kitchen</a> <span class="count">11</span></li>
                            </ul>
                        </div>

                        <div class="single-widget learts-mb-40">
                            <h3 class="widget-title product-filter-widget-title">Product Tags</h3>
                            <div class="widget-tags">
                                <a href="#">design</a>
                                <a href="#">fashion</a>
                                <a href="#">learts</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>


@section scripts {
    <script src="~/assets/js/blog-details/blog-details.js"></script>
}